cairocffi==1.7.1
CairoSVG==2.9.0
cffi==2.1.0
cssselect2==0.9.0
defusedxml==0.7.1
ImageIO==2.37.4
lazy-loader==0.5
networkx==3.6.1
numpy==2.5.1
opencv-python==5.0.0.93
packaging==26.2
pillow==12.3.0
pycparser==3.0
scikit-image==0.26.0
scipy==1.18.0
svgwrite==1.4.3
tifffile==2026.7.14
tinycss2==1.5.1
webencodings==0.5.1
